/* #a7c584 */
/* #6b8a47 */
/* #f6c915 */
/* #eae3c0 */

.mapInfo {
  font-size: 14px;
  font-weight: 600;
  height: 200px;
  background-color: #fff;
  padding: 15px;
  width: 100%;
  text-align: center;
  color: #6b8a47;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #6b8a47;
}
.mapInfo .time {
  width: 100%;

  font-size: 14px;
  font-weight: 400;
  margin: 10px 0;
  color: #6b8a47;
  word-break: keep-all;

  text-align: center;
}
